body {
  @apply text-black;
  @apply bg-white;
}

a {
  @apply text-primary;
  @apply hover:text-primary-dark;
  @apply focus:border-primary;
  transition: all 150ms ease-out;
}

strong, b {
  @apply font-extrabold;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInLeft {
  animation-duration: .5s;
  animation-name: fadeInLeft;
}
